/* style.css : profile stylesheet */

body {
    background-image: url(./../images/mosaic.png);
  }

.main-body {
    background-color: #ccc;
}

.navbar-toggler {
    background-color: darkslateblue;
    margin: 0 20px 0 0;
  }
  
  .navbar-toggler-icon {
    background-color: #ccc;
  }
  
  .nav-link {
    color: darkslateblue;
  }

/* END OF FILE */